$magenta: #BC2F6C;
$preto: #282828;
$verde-claro: #BDD654;
$verde-escuro: #0E7F61;
$cinza-escuro: #555550;
$cinza-claro: #DDDDDD;
$azul: #43A4E6;

$fonte-14: 14px;

section {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 50px;
}

.titulo {
    color: $cinza-escuro;
}

.subtitulo {
    font-size: $fonte-14;
    color: $cinza-escuro;
}

.filtro {
    border: 0px;
    border-bottom: solid $cinza-claro 1px;
    width: 60%;
    outline: 0;
}

.lupa {
    height: 16px;
}

table {
    width: 100%;
}

.editar {
    height: 16px;
}

.excluir {
    height: 16px;
}

.botao {
    background-color: $magenta;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
}

.botao-container {
    display: flex;
    justify-content: flex-end;
}

.tabela td {
    text-align: center;
}

.tabela th {
    background-color: $azul;
    color: white;
    font-weight: 600px;
    padding: 10px;

}

.tabela {
    padding-top: 40px;
    color: $cinza-escuro;
    padding-top: 40px;
    color: $cinza-escuro;
    border-radius: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}