$magenta: #bc2f6c;
$preto: #282828;
$verde-claro: #bdd654;
$verde-escuro: #0e7f61;
$cinza-escuro: #555550;
$cinza-claro: #dddddd;
$azul: #43a4e6;
$cinza-clarinho: #F7F7F7;

$fonte-14: 14px;

section {
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
    padding: 50px;
    background-color: $cinza-clarinho;
}

.titulo {
    color: $cinza-escuro;
}

.subtitulo {
    font-size: $fonte-14;
    color: $cinza-escuro;
}

.filtro {
    border: 0px;
    border-bottom: solid $cinza-claro 1px;
    width: 60%;
    outline: 0;
    background-color: $cinza-clarinho;

}

.lupa {
    height: 16px;
}

table {
    width: 100%;
}

.editar {
    height: 16px;
    cursor: pointer;
}

.excluir {
    height: 16px;
    cursor: pointer;
}

.botao {
    background-color: $magenta;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.botao-container {
    display: flex;
    justify-content: flex-end;
}

.tabela td {
    text-align: center;
    padding: 10px;   
}

.tabela th {
    background-color: $azul;
    color: white;
    font-weight: 600px;
    padding: 10px;
}

.tabela tr:nth-child(even) {
    background: $cinza-claro;
}

.filtro-container-table {
    margin-top: 60px;
}

.tabela {
    margin-top: 40px;
    color: $cinza-escuro;
    border-collapse: collapse;
    border-radius: .5em;
    overflow: hidden;
}

.bolinha-verde{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: $verde-escuro;
}

.bolinha-vermelha{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: $magenta;
}
.status{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

@media only screen and (max-width: 420px) {
    .tabela{
        display: block;
        max-width: 100%;
        overflow: scroll;
    }
}