<section>
    <table>
        <tr>
            <td class="formulario">
                <h1 class="titulo">
                    Update Vehicle
                </h1>

                <form>
                    <h2>
                        Plate

                    </h2>
                    <input class="input">

                    <h2>
                        Model
                    </h2>
                    <input class="input">

                    <h2>
                        Manufacturer
                    </h2>
                    <input class="input">

                    <h2>
                        Color
                    </h2>
                    <input class="input">

                    <h2>
                        Status
                    </h2>

                    <label>
                        <input type="radio" name="status" value="Active" class="box">
                        Active
                    </label>
                    <label>
                        <input type="radio" name="status" value="Inactive" class="box">
                        Inactive
                    </label>
                    <br>
                    <button class="reset">
                        Reset All
                    </button>
                    &nbsp;
                    <button class="salvar">
                        Save
                    </button>
                </form>
            </td>
            <td class="carro">
                <img src="../../../assets/images/car.png" class="img-carro">

            </td>
        </tr>
    </table>
</section>