<section>
    <h1 class="titulo">
        Delete
    </h1>
    <p class="subtitulo">
        Do you want delete this vehicle?
    </p>

    <table>
        <tr>
            <td>
                <button (click)="close()" class="botao-nao">
                    I dont't
                </button>
            </td>
            <td>
                <button (click)="delete()" class="botao-conf">
                    Confirm
                </button>
            </td>
        </tr>
    </table>
</section>